
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
</style>

<link href="~/Content/RegisterStyle.css" rel="stylesheet">
<section class="services ">
    <div class="container">
        <div class="services-slide">
            
            <div class="row aboutPage">
                <div class="col-md-4">
                    <div class="carousel slide" id="mycarousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#mycarousel" data-slide-to="1" class=""></li>
                            <li data-target="#mycarousel" data-slide-to="2" class=""></li>

                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <h1 class="about-head">Our <br /> Services</h1>
                                <p class="about-p">
                                    patterns-based way to build dynamic websites that
                                    enables a clean separation of concerns and gives you full control over markup
                                    for enjoyable, agile development.
                                </p>
                                <a class="btn btn-primary about-btn" href="#">Read More</a>
                            </div>
                            <div class="item">
                                <h1 class="about-head">Register <br /> Now</h1>
                                <p class="about-p">
                                    patterns-based way to build dynamic websites that
                                    enables a clean separation of concerns and gives you full control over markup
                                    for enjoyable, agile development.
                                </p>
                                <a class="btn btn-primary about-btn" href="#">Register Now</a>
                            </div>
                            <div class="item">
                                <h1 class="about-head">Contact <br /> Us</h1>
                                <p class="about-p">
                                    patterns-based way to build dynamic websites that
                                    enables a clean separation of concerns and gives you full control over markup
                                    for enjoyable, agile development.
                                </p>
                                <a class="btn btn-primary about-btn" href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <img src="~/img/Data processing _Monochromatic.png" class="img-responsive about-img" />
                    </div>
                </div>
            </div>
        </div>
       <hr />

        <div class="service-provid">
            <h2 class="text-center">Our Services</h2>
            <div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Web Developer_Outline.png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">Product Design</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Web Developer_Flatline.png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">Web Development</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Designer _Flatline (5).png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">Web Design</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Data processing _Flatline.png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">SEO</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div> <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Web Developer_Outline.png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">Product Design</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Web Developer_Flatline.png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">Web Development</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Designer _Flatline (5).png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">Web Design</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <div class="service-img">
                               <img src="~/img/Data processing _Flatline.png" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                <h4 class="text-center">SEO</h4>
                                <p>This page shares my best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>